#exitSpan{
    font-size: 20px;
    padding: 10px;
}
.exit-div{
    float: left;
    padding: 10px;
}
.exit-div:hover{
    cursor: pointer;
    background-color: rgb(233, 233, 233);
    transition: 0.5s ease-out;
}
h3{
    text-align: center;
}