*{
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(233, 233, 233);
  padding: 1px;
}
.page-box {
  width: 50%;
  background-color: white;
}
.page-box {
  border: 1px solid black;
  padding: 10px;
}
.insert-title-box {
  text-align: center;
  padding: 5px;
}
.insert-title-box input {
  border: none;
  width: 95%;
  text-align: center;
  font-size: 26px;
  border: 1px dashed black;
  font-family: Arial, Helvetica, sans-serif
}
.p-title{
  border: none;
  width: 95%;
  text-align: center;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif
}
#mainTable {
  border: 3px solid black;
  width: 80%;
  border-collapse: collapse;
}
#mainTable tr {
  border: 1px solid black;
  height: 30px;
  width: 100%;
  border-collapse: collapse;
}
#mainTable tr td {
  border: 1px solid black;
  height: 40px;
  width: 30px;
  border-collapse: collapse;
  text-align: center;
}
.insert-words-box {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
}
#wordsTable {
  width: 100%;
}
#wordsTable tr {
  width: 100%;
  height: 30px;
}
#wordsTable tr td {
  width: 20%;
  padding: 3px;
}
.word-input {
  font-size: 18px;
  visibility: hidden;
  text-align: center;
  border: 1px dashed black;
  height: 30px;
  width: 100%;
}
#finalWordInput {
  font-size: 21px;
  border: 1px dashed black;
  text-align: center;
  height: 30px;
  width: 70%;
}
.button-box {
  width: 50%;
  padding: 10px;
}
#genBtn, #autoGenBtn{
  float: right;
  background-color: #4bcbff;
}
.btn-hover-dis{
  opacity: 0.5;
  cursor: default;
}
.btn-hover-dis:hover{
  cursor: default;
}
#exportBtn,
#modifyBtn,
#genBtn,
#autoGenBtn {
  padding: 20px;
  font-size: 14px;
  color: white;
  width: 160px;
}
#autoGenBtn{
  width: 200px;
  margin-right: 10px;
}
#exportBtn,
#modifyBtn {
  background-color: #3799bf;
  float: left;
}
.disabled-btn{
  opacity: 0.7;
}
#modifyBtn:hover, .gen-type-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.btn-hover{
  opacity: 1.0;
}
.btn-hover:hover{
  opacity: 0.7;
  cursor: pointer;
}
.info-box {
  width: 24%;
  float: right;
  text-align: center;
}
#finalWordsTable {
  border: 1px solid black;
  width: 80%;
  border-collapse: collapse;
}
#finalWordsTable tr {
  border: 1px solid black;
  height: 40px;
  border-collapse: collapse;
}
#finalWordsTable td {
  border: 1px solid black;
  height: 40px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 19px;
}
.info-chars-span{
    font-weight: bold;
}
.chars-info-div{
    font-size: 20px;
    margin-top: 44%;
}
.final-words-div{
    visibility: hidden;
}
#insertedCharsCount{
  color: red;
}
#finalWordsTable tr:hover{
  background-color: lightskyblue;
  cursor: pointer;
}
input{
  background-color: white;
}
.swal-small{
  width:400px !important;
}
.gen-type-btn{
  background-color: #4bcbff;
  padding: 20px;
  width: 200px;;
  color: white;
  font-size: 14px;
}
#changeFinalWordHint{
  position: relative;
  top: 150px;
  background-color: #3799bf;
  padding: 20px;
  font-size: 14px;
  color: white;
  width: 280px;
}
.not-display{
  display: none;
}
#changeFinalWordHint:hover, .refreshBtn:hover{
  opacity: 0.7;
  cursor: pointer;
}
.refreshBtn{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 10px;
  font-size: 14px;
  color: white;
  background-color: gray;
}
@media screen and (max-width: 1110px){
  .page-box, .info-box, #modifyBtn, .button-box, #autoGenBtn, #genBtn, #exportBtn, #changeFinalWordHint{
    width: 98%;
  }
  #modifyBtn, #autoGenBtn, #genBtn, #exportBtn, #changeFinalWordHint{
    margin-top: 10px;
    float: left;
  }
  .info-box{
    position: relative;
    top: 2000px;
  }
  .chars-info-div{
    margin: 0;
    position: relative;
    bottom: 1100px;
  }
  .final-words-div{
    position: relative;
    bottom: 500px;
  }
  #changeFinalWordHint{
    position: absolute;
    left: 0;
    height: 60px;
    top: -600px;
  }
  .page-box{
    height: 1050px;
    /*width: 1600px; For page export*/
  }
  .insert-title-box, .table-box, .resp-shift{
    position: relative;
    bottom: 570px;
  }
}